<sky-box>
  <sky-box-header><h2>Constituent info</h2></sky-box-header>
  <sky-box-content>
    @if (!hasAccessToken) {
      <p>Create or select an access token</p>
    }
    @if (hasAccessToken && !!constituent) {
      <sky-fluid-grid>
      <sky-row>
        <sky-column [screenMedium]="5">
          <span class="sky-theme-font-heading-2"
            >{{ constituent.title }} {{ constituent.name }}</span
          >
          <sky-description-list mode="horizontal" class="sky-theme-margin-bottom-s">
            <sky-description-list-content>
              <sky-description-list-term> Income </sky-description-list-term>
              <sky-description-list-description>
                {{ constituent.income }}
              </sky-description-list-description>
            </sky-description-list-content>
            <sky-description-list-content>
              <sky-description-list-term> Gender </sky-description-list-term>
              <sky-description-list-description>
                {{ constituent.gender }}
              </sky-description-list-description>
            </sky-description-list-content>
            <sky-description-list-content>
              <sky-description-list-term> Age </sky-description-list-term>
              <sky-description-list-description>
                {{ constituent.age }}
                @if (birthdate) {
                  <span> ({{ birthdate }}) </span>
                }
              </sky-description-list-description>
            </sky-description-list-content>
            <sky-description-list-content>
              @if (constituent.email) {
                <sky-description-list-term>
                  Email
                </sky-description-list-term>
              }
              @if (constituent.email) {
                <sky-description-list-description>
                  {{ constituent.email.address }}
                  @if (constituent.email.primary) {
                    <sky-label labelType="success"
                      >Primary</sky-label
                    >
                  }
                </sky-description-list-description>
              }
            </sky-description-list-content>
          </sky-description-list>
        </sky-column>
        <sky-column [screenMedium]="4">
          @if (constituent.address) {
            <sky-box>
              <sky-box-header> <h3>Address</h3> </sky-box-header>
              <sky-box-content>
                <strong>{{ constituent.address.type }}</strong>
                @if (constituent.address.preferred) {
                  <sky-label
                    labelType="success"
                    >Preferred</sky-label
                  >
                }
                <div>{{ constituent.address.formatted_address }}</div>
              </sky-box-content>
            </sky-box>
          }
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenMedium]="9">
          <br />
          <br />
          <sky-box>
            <sky-box-header><h3>Constituent data</h3></sky-box-header>
            <sky-box-content>
              <button
                type="button"
                class="sky-btn sky-btn-link"
                (click)="toggleShowJson()"
              >
                {{ showJson ? 'Hide' : 'Show' }} constituent data
              </button>
              @if (hasAccessToken && !!constituent && showJson) {
                <code>
                  <pre>{{ constituent | json }}</pre>
                </code>
              }
            </sky-box-content>
          </sky-box>
        </sky-column>
      </sky-row>
      </sky-fluid-grid>
    }
  </sky-box-content>
</sky-box>
