menu,
ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: 400px;
}

li {
  flex-grow: 1;
  margin-left: 10px;
}

button {
  width: 100%;
  margin: 10px 0;
}

.selected {
  border: 2px inset blue;
}